* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}


.wraper {
  width: 100%;
  position: relative;
  padding-right: .8%;
  padding-bottom: 0.9%;
  max-width: 47%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset -61px -80px 94px -34px rgba(0, 0, 0, 0.45), -20px -7px 27px 0px rgba(0, 0, 0, 0.45);
}

.wraper .wraper-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: 96% 100%;
  filter: sepia(1);
}

.container {
  background-image: url(../img/backgraundlogo.jpg);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  width: 100%;
  /* min-width: 600px; */
  max-width: 495px;
  height: auto;
  background-color: #000000a8;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

#quesBoxh3 {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #9a845dc7;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  border-radius: 10px 15px 0 39px;
  color: #ffffffcc;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  height: auto;
  line-height: 22px;
}

img.qusMath20 {
  object-fit: contain;
}


.row {
  padding-left: 25px;
  background-color: #f0dfc0bf;

  margin-top: 25px;
  border-radius: 10px;
  margin-inline: 5px;
  font-family: math;
  display: flex;
  align-items: center;
}


.row {
  margin-top: 40px;
}

label {
  padding-left: 8px;

  padding-top: 10px;
  color: black;
  padding-bottom: 12px;
  font-family: system-ui;

  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  width: 100%;
}

input[type="radio"]:checked {
  font-size: 50px;
}

.thankYou {
  display: none;
  position: relative;

}

button.btn {
  background-color: #927e59;
  border: 0px;
  padding-top: 8px;
  padding-bottom: 7px;
  margin-inline: 10px;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 11px 10px -7px rgb(0 0 0);
}

.btn:hover {
  background-color: #519be6d9;
  box-shadow: 19px 36px 35px -32px rgb(0 0 0) inset;
}

.thanks {
  text-align: center;
  width: 100%;
  padding-bottom: 164px;
  padding-top: 30px;
}

.thankYou h3 {
  padding-left: 10px;
  padding-top: 10px;
}



.welcome {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome h3 {
  width: 100%;
  height: auto;
  text-align: center;
  color: black;
  padding-top: 20px;
  padding-bottom: 7px;
  color: white;
  font-family: cursive;
  font-size: 18px;
}

.welcome h3 span {
  color: #f58f41;
  font-size: 30px;
}

.quiz-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  margin-bottom: 20px;
}

.quiz-form input,
label {
  display: flex;
  width: 100%;
  /* max-width: 280px; */
}

.quiz-form label {
  margin-right: 11px;
  width: 100%;
  padding: 5px;
  margin-top: 15px;
  font-size: 14px;
  transform: translateY(4px);
  color: #ffffffab;
}

.quiz-form .student {

  border: 1px solid #d7c095;
  padding-block: 7px;
  outline: none;
  padding-left: 12px;
  background-color: #00000066;
  color: #ffffff;
  font-size: 15px;
}

#start-btn {
  padding-block: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  background-color: #9a845de6;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 11px 10px -7px rgb(0 0 0);
}

#start-btn:hover {
  background-color: #519be6d9;
  box-shadow: 19px 36px 35px -32px rgb(0 0 0) inset;
}



.quesDisplayVis {
  display: flex;
  flex-direction: column;
  color: wheat;
  position: relative;
}

.welcomeDisplayNone {
  display: none;
}

/* Timerr */

.timer-wrap {
  width: 100%;
  position: absolute;
  top: 150px;
  right: 525px;
}


.timer-display {
  width: 130px;
  height: 53px;
  background-color: #615d5d00;
  border-radius: 5px;
  box-shadow: 0px 7px 7px -4px rgb(255 255 255), 0px 14px 56px 9px rgb(255 164 0);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#minuts {
  width: 36%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

#dots-clock {
  width: 15%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 57px;
  padding-bottom: 11px;
}

#seconds {
  width: 36%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 11px;
}

#minuts-h,
#seconds-h{
  margin: 0;
  padding: 0;
  font-size: 40px;

}

#dots-clock-h {
  padding: 0;
  font-size: 52px;
}



/* starting-quiz-time box */

.starting-quiz-time {
  width: 100%;
  height: 76%;
  background-color: #00000078;
  position: absolute;
  top: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.starting-quiz-time {
  width: 100%;
  height: 100%;
  background-color: #00000078;
  position: absolute;
  top: -29px;
  display: none;
  justify-content: center;
  align-items: center;
}

.starting-quiz-time-diplayVis{
  display: flex;
}

.starting-quiz-time-box {
  width: 60%;
  height: 74%;
  background-color: #000000e0;
  box-shadow: 17px 17px 145px 71px rgb(245 190 65), 2px 1px 6px 6px rgb(255 255 255);
  border-radius: 7px;
  overflow: hidden;
}

.star-in {
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: black;
  box-shadow: 0px -22px 62px -3px rgb(255 0 0);
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: system-ui;
}

.countDown4sec {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d2b06a00;
  font-size: 250px;
  text-shadow: 0 1px #808d93, -1px 0 #ffffff, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}


@media screen and (max-width:767px) {
  .container {

    height: 100vh;

  }

  .wraper {
    width: 100%;
    max-width: 767px;
    margin-left: 6px;
    margin-right: 1px;
  }

  #box {
    width: 100%;
    max-width: 767px;
    min-width: 280px;
  }

  label {

    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;
    min-width: 280px;
    margin-left: 0px;

  }

 .quesBoxh3 {
    font-size: 17px;
  }

  button.btn {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .quiz-form .student {
    padding-block: 13px;
  }

  #start-btn {
    margin-top: 40px;
    padding-block: 20px;
}

  .welcome h3 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffffdb;
    position: absolute;
    top: -193px;
}

.welcome h3 span {
  font-size: 30px;
}


/* timing */

.timer-wrap {
  width: 100%;
  position: absolute;
  top: -224px;
  right: 0;
}

}