* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}


.wraper {
  width: 100%;
  position: relative;
  padding-right: .8%;
  padding-bottom: 0.9%;
  max-width: 47%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset -61px -80px 94px -34px rgba(0, 0, 0, 0.45), -20px -7px 27px 0px rgba(0, 0, 0, 0.45);
}

.wraper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: 96% 100%;
  filter: sepia(1);
}

.container {
  background-image: url(../img/backgraundlogo.jpg);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  width: 100%;
  /* min-width: 600px; */
  max-width: 495px;
  height: auto;
  background-color: #000000a8;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
}



.quesBoxh3 {
  min-height: 170px;
}

.row {
  padding-left: 25px;
  background-color: #f0dfc0bf;
  margin-top: 22px;
  border-radius: 10px;
  margin-inline: 5px;
  font-family: math;
  display: flex;
  align-items: center;
}




#quesLoader label {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  margin-left: 0px;
  font-family: system-ui;
  min-width: 280px;
  font-weight: 600;
  font-size: 16px;

  width: 100%;
  height: 70px;
}

input[type="radio"]:checked {
  font-size: 50px;
}

.quesLoader {
  display: none;
  position: relative;

}

.btn {
  width: 100%;
  background-color: #927e59;
  border: 0px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-inline: 3px;
  color: #afafaf;
  letter-spacing: 1px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 11px 10px -7px rgb(0 0 0);
}

#getQuesNum {
  width: 65%;
  background-color: #927e59;
  border: 0px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-inline: 5px;
  color: #afafaf;
  letter-spacing: 1px;
  font-size: 20px;
  outline: none;

  border-radius: 5px;
  text-align: center;
  /* box-shadow: 0px 11px 10px -7px rgb(0 0 0); */
}

#getQuesNum:hover{
  color:#d6d6d6;
}

#previous-btn {
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}
#previous-btn:hover {
  color: #d6d6d6;
}
#next{
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}
#next:hover {
  color: #d6d6d6;
}

.quiz-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.disp-none .btn {
  background-color: #bd8726;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* //Submit at last button */

.disp-none {
  display: none;
  width: 100%;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* jab last me submit button ko display karana ho to uncomment karen*/

.submit-btn-display {
  display: block;
}

.disp-none .btn:hover {
  box-shadow: rgb(255 156 0) 0 4px 8px, rgb(45 35 66 / 0%) 0 7px 13px -3px, #d4e03c00 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:hover {
  background-color: #e65151d9;
  box-shadow: 19px 36px 35px -32px rgb(0 0 0) inset;
}

.thanks {
  text-align: center;
  width: 100%;
 
}

.quesLoader h3 {
  padding-left: 10px;
  padding-top: 10px;
}



.welcome {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome h3 {
  width: 100%;
  height: auto;
  text-align: center;
  color: black;
  padding-top: 20px;
  padding-bottom: 7px;
  color: white;
  font-family: cursive;
  font-size: 18px;
}

.welcome h3 span {
  color: #f58f41;
  font-size: 30px;
}

.quiz-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  margin-bottom: 20px;
  padding-top: 15px;
}

#welcome input,select,label
label {
  display: flex;
  width: 100%;
  /* max-width: 280px; */
}

#welcome .quiz-form label {
  margin-right: 11px;
  width: 100%;
  padding: 5px;
  margin-top: 15px;
  font-size: 14px;
  transform: translateY(4px);
  color: #ffffffab;
}

.quiz-form .student {
  width: 100%;
  border: 1px solid #d7c095;
  padding-block: 7px;
  outline: none;
  padding-left: 12px;
  background-color: #00000066;
  color: #8c8c8c;
  font-size: 15px;
  border-radius: 4px;
}

option {
  background-color: #1c1914;
  color: #ead0a2;
}

#start-btn {
  padding-block: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  background-color: #9a845de6;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 11px 10px -7px rgb(0 0 0);
}

#start-btn:hover {
  background-color: #00000088;
  box-shadow: 19px 36px 35px -32px rgb(0 0 0) inset;
}



.quesDisplayVis {
  display: flex;
  flex-direction: column;
  color: wheat;
  position: relative;
}

.welcomeDisplayNone {
  display: none;
}

/* Timerr */

.timer-wrap {
  width: 100%;
  position: absolute;
  top: 150px;
  right: 525px;

}


.timer-display {
  width: 130px;
  height: 53px;
  background-color: #615d5d00;
  border-radius: 5px;
  box-shadow: 0px 7px 7px -4px rgb(255 255 255), 0px 14px 56px 9px rgb(255 164 0);
  margin: 0 auto;
  display: none;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.timer-display-vis {
  display: flex;
}

#minuts {
  width: 36%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

#dots-clock {
  width: 15%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 57px;
  padding-bottom: 11px;
}

#seconds {
  width: 36%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 11px;
}

#minuts-h,
#seconds-h {
  margin: 0;
  padding: 0;
  font-size: 40px;

}

#dots-clock-h {
  padding: 0;
  font-size: 52px;
}



/* starting-quiz-time box */

.starting-quiz-time {
  width: 100%;
  height: 76%;
  background-color: #00000078;
  position: absolute;
  top: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.starting-quiz-time {
  width: 100%;
  height: 100%;
  background-color: #00000078;
  position: absolute;
  top: -29px;
  display: none;
  justify-content: center;
  align-items: center;
}

.starting-quiz-time-diplayVis {
  display: flex;
}

.starting-quiz-time-box {
  width: 60%;
  height: 74%;
  background-color: #000000e0;
  box-shadow: 17px 17px 145px 71px rgb(245 190 65), 2px 1px 6px 6px rgb(255 255 255);
  border-radius: 7px;
  overflow: hidden;
}

.star-in {
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: black;
  box-shadow: 0px -22px 62px -3px rgb(255 0 0);
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: system-ui;
}

.countDown4sec {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d2b06a00;
  font-size: 250px;
  text-shadow: 0 1px #808d93, -1px 0 #ffffff, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

.right-ans-bgcolor {
  
  background-image: radial-gradient(100% 80% at 81% 0, #ffffff 0, #1fb012 100%);
}
.wrong-ans-bgcolor{
  background-image: radial-gradient(100% 60% at 81% 0, #ffffff 0, #b01212 100%);
}


#checkAns {
  width: 180px;
  height: 50px;
  margin: 0 auto;
  margin-top: 27px;
  outline: none;
  text-align: center;
}

.getResult {
  width: 100%;
  max-height: 500px;
  background-color: #00000000;
  display: none;
  justify-content: center;
  flex-direction: column;
     padding-top: 30px;
    padding-bottom: 30px;
}

.getResult-display{
  display: flex;

}

.got-to-result{
  display: none;
  justify-content: center;
  margin-top: 10px;
}

.got-to-result-display{
  display: flex;
}

#got-to-result-btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.set-ques {
  width: 80%;
  margin-left: 0px;
}

.btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #c3b49a 0, #79684a 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgb(184 183 157 / 0%) 0 2px 4px, rgb(255 156 0 / 0%) 0 7px 13px -3px, rgb(255 255 255 / 38%) 0 -3px 0 inset;
  box-sizing: border-box;
  
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  justify-content: center;
  line-height: 1.3;
  list-style: none;
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  /* position: relative; */
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: box-shadow,transform;
  /* font-size: 18px; */
}
.btn:focus {
  box-shadow: #3c4fe000 0 0 0 1.5px inset, rgb(255 255 255 / 40%) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #2434af00 0 3px 7px inset;
  transform: translateY(2px);
}




#quesBoxh3 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #9a845d;
  padding-top: 25px;
  padding-bottom: 20px;
 
  border-radius: 10px 15px 0 39px;
  color: #ffffffcc;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

/* google trans */
#google_translate_element {
  width: 100%;
  margin-top:8px;
  padding-left: 10px;
}

.goog-te-gadget img {
  vertical-align: middle;
  border: none;
  width: 49%;
  object-fit: contain;
  border-radius: 0;
  filter: drop-shadow(2px 4px 6px black);
  width: 12%;
}

.goog-te-gadget .goog-te-combo {
  margin: 13px 0 !important;
  width: 35%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10pt;
  background-color: #f1f1f1;
  outline: none;
  color: #3e3e3e;
  border-radius: 3px;
  font-weight: 600;
  padding-bottom: 2px;
  padding-top: 1px;
}

#goog-gt-tt {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb {

  display: none !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}



/* select.goog-te-combo option {
  display: none;
}

select.goog-te-combo option[value=""],[value="hi"],[value="en"],[value="gu"],[value="ta"],[value="te"],[value="mr"],[value="ml"],[value="bn"],[value="kn"] ,[value="pa"]{
  display: block !important;
} */



@media screen and (max-width:767px) {
  .container {
    height: 100vh;
    padding-top: 55px;
    /* padding-bottom: 5px; */
}
  .wraper {
    width: 100%;
    max-width: 767px;
    margin-left: 6px;
    margin-right: 1px;
  }

  #box {
    width: 100%;
    max-width: 767px;
    min-width: 280px;
    /* top: -150px;
  */
   
    justify-content: center;
}



  h3#quesBoxh3 {
    font-size: 18px;
  }



  .quiz-form .student {
    padding-block: 13px;
  }

  #start-btn {
    margin-top: 40px;
    padding-block: 20px;
  }

  .welcome h3 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffffdb;
    position: absolute;
    top: -195px;
  }

  .welcome h3 span {
    font-size: 30px;
  }


  /* timing */

  .timer-wrap {
    width: 100%;
    position: absolute;
    top: -70px;
    right: 0;
  }

}

